# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/
.env

# Node
node_modules/
dist/
.vite/
.turbo/

# Logs
*.log

# OS
.DS_Store

# Editor
.idea/
.vscode/

# Docker
*.pid
.nami/
.devcontainers/